<%# TODO: Button REDIRECT TO %>

<ul class="moods-card">

<li><%= current_user.user_mood&.mood_type %>

<h2> One mood button link_to method patch </h2>
<h2> One mood </h2>
<h2> One mood </h2>
<h2> One mood </h2>

</ul>
