// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// colors for card:
$purple: #543152;
$violet: #ab61c1;
$brown:#9C6F6A;
$black:#151515;
