<h1 class="text-center mb-4">Edit quest</h1>
<div class="container>


<%= link_to "Go back", tasks_path, class: "btn btn-primary ms-2" %>
<%= link_to "Save Changes", tasks_path, class: "btn btn-primary ms-2" %>
 </div>
