<div class="container d-flex justify-content-center align-items-center text-center">
  <div class="w-50" style="max-width: 900px;">

  <%= render "shared/taskform", h1: "Edit quest", submit: "Save changes" %>

  </div>
</div>
