<div class="container">
<h1> Quests</h1>

<ul>
  <% @tasks.each do |task| %>
      <li><%= task.name %></li>
    <li><%= task.duo ? "✔" : "❌" %></li>
    <li><%= task.description %></li>
  <% end %>
  </ul>
<%= link_to "Main Menu", root_path, class: "btn btn-primary" %>
</div>
