<div class="container">
<h1> Quests</h1>

<ol>
  <% @tasks.each do |task| %>
    <li><%= task.name %></li>
    <li><%= task.user_task.complited ? "✔" : "❌" %></li>
    <li><%= task.description %></li>
  <% end %>
  </ol>
<%= link_to "Main Menu", root_path, class: "btn btn-primary" %>
</div>
