<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <!-- Task Form -->
      <%= render "shared/taskform", h1: "Add special quest", submit: "Create the quest", btn_class: "btn btn-flip" %>

      <%= render "shared/rpg_popup",
      title: "Quest Successfully Created!",
      message: "Your quest has been added to your journey.",
      redirect_path: tasks_path if notice.present? %>


    </div>
  </div>
</div>
