<h1 class="text-center mb-4"><%= action_name.capitalize %> Quest</h1>
<div class="container d-flex justify-content-center">
  <div class="w-50">
    <%= render "form" %>
  </div>
</div>
<div class="text-center mt-3">
  <%= link_to "Back", tasks_path, class: "btn btn-secondary" %>
</div>
