<div class="renata-card frozen-card text-white">

  <!-- Card body: only title -->
  <div class="card-body d-flex flex-column align-items-center justify-content-center">
    <h4 class="task-title"><%= task.name %></h4>
  </div>

  <!-- Card footer: only unfreeze button -->
  <div class="card-footer actions-footer">
    <%= button_to "<i class='bi bi-arrow-counterclockwise'></i>".html_safe, unignore_task_path(task), method: :patch, class: "btn btn-icon" %>
  </div>

</div>
