<div class="footer-container">
  <%= link_to raw('<i class="fa-solid fa-cloud-sun footer-btn-icon"></i>'), edit_user_mood_path(current_user.user_mood), class: "footer-btn shadow-sm", style: "border-radius: 15px;" %>
</div>
