<% if notice.present? %>
  <div id="rpg-popup-backdrop"></div>
  <div class="rpg-popup auto-hide">
    <h5 class="rpg-popup-title">Quest Successfully Created!</h5>
    <p class="rpg-popup-text"><%= notice %></p>
    <%= link_to tasks_path, class: "rpg-popup-close" %>
  </div>
<% end %>
