// .card-done{
//   background-color:;
//   color:;
//   height:;
//   weight:;
// }

// .card-freeze{
//   background-color:;
//   background-image:;
//   color:;
// }

.renata-card{
  width:200px;
  height: 300px;
  height: 300px;
 }

// frozen card
 .renata{

}
