.footer-container {
  display: flex;
  position: fixed;
  bottom: 0;
  border-top: solid 1px rgb(65, 49, 80);
  height: 8%;
  width: 100%;
  background-image: linear-gradient(rgba(65, 49, 80, 0.9));
}
