
.heroheader-box {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(135deg,#2C508C, #603FB2);
  color: white;
}

.heroheader-user-row {
  display: flex;
}

.heroheader-username {
  flex: 1;
  align-items: flex-start;
}

.heroheader-level-and-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroheader-level {
  flex: 1;

}

.level-icon {
  flex: 2;
}

.xp-bar-container {
  width: 100%;
  height: 24px;
  background-color: #8E68E6;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}

.xp-fill {
  height: 100%;
  background-color: #603FB2;
  transition: width 0.5s ease;
  border-radius: 12px 0 0 12px;
}
