
.heroheader-box {
  max-width: 600px;
  margin: 0 12px;
  padding-bottom: 5px;
  border-radius: 10px;
  background: linear-gradient(135deg,#603FB2, #8839a0);
  color: white;
}

.heroheader-user-row {
  display: flex;
  justify-content: space-evenly;
  padding-top: 7px;
}

.heroheader-username {
  padding: 10px;
  font-size: 16px;
  color: #FFA25C;
}

.heroheader-level-and-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroheader-level {
  flex-wrap: nowrap;
}

.level-icon {
  margin-left: 12px;
}

.xp-bar-container {
  height: 24px;
  background-color: #8E68E6;
  border-radius: 12px;
  overflow: hidden;
  margin: 5px 20px 10px;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.xp-fill {
  height: 100%;
  background-color: #FF6F3C;;
  transition: width 0.5s ease;
  border-radius: 12px 0 0 12px;
}

.heroheader-exp-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10px;
}

.heroheader-mood {
  font-size: 12px;
  margin: 5px 0;
}
