// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "moods/index";


// Global
html {
  height: 100%;
}

body {
  background-size: cover;
  background-repeat: no-repeat;

  &.pages.home {
    background-image: url(https://img.freepik.com/free-vector/pixel-art-mystical-background_52683-87349.jpg);
  }

  &.user_moods.edit {
    background-image: url(https://img.freepik.com/free-vector/pixel-clouds-set-night-game-background_107791-34646.jpg);
  }

  &.tasks {
    &.index {
      background-image: url(https://wallpapercave.com/wp/wp15699437.png);
    }
    &.new {
      background-image: url(https://wallpapercave.com/wp/wp15699498.png);
    }
    &.edit {
      background-image: url(https://wallpapercave.com/wp/wp15699498.png); // change img
    }
  }

  &.friendships.index {
    background-image: url(https://wallpapercave.com/wp/wp15762575.jpg);
  }

  &.chat_rooms {
    &.index {
      background-image: url(https://img.freepik.com/free-vector/pixel-art-vacation-background_52683-86708.jpg);
    }
    &.show {
      background-image: url(https://wallpapercave.com/wp/wp15699498.png); // fire camp mirror
    }
  }
}
