// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "moods/index";


@import 'chat_room/base';
@import 'chat_room/colors';
@import 'chat_room/buttons';
@import 'chat_room/forms';
@import 'chat_room/panels';
@import 'chat_room/chat-messages';
@import 'chat_room/responsive';
@import 'chat_room/typography';
@import "components/heroheader";
@import "mood";

// Global
html, body {
  height: 100%;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom; // not working, background image is stuck to the top of the page

  &.pages.home {
    background-image: linear-gradient(rgba(26, 16, 32, 0.6),rgba(49, 20, 61, 0.4)), url(https://img.freepik.com/free-vector/pixel-art-mystical-background_52683-87349.jpg);
  }

  &.user_moods.edit {
    background-image: linear-gradient(rgba(26, 16, 32, 0.6),rgba(49, 20, 61, 0.4)), url(https://wallpapercave.com/wp/wp15699470.png);
    background-position: center;
  }

  &.tasks {
    &.index {
      background-image: linear-gradient(rgba(26, 16, 32, 0.6),rgba(49, 20, 61, 0.4)), url(https://wallpapercave.com/wp/wp15699437.png);
    }
    &.new {
      background-image: linear-gradient(rgba(26, 16, 32, 0.6),rgba(49, 20, 61, 0.4)), url(https://wallpapercave.com/wp/wp15699498.png);
    }
    &.edit {
      background-image: linear-gradient(rgba(26, 16, 32, 0.6),rgba(49, 20, 61, 0.4)), url(https://wallpapercave.com/wp/wp15699498.png);
    }
  }

  &.friendships.index {
    background-image: url(https://wallpapercave.com/wp/wp15762575.jpg);
    background-position: center;
  }

  &.chat_rooms {
    &.index {
      background-image: linear-gradient(rgba(26, 16, 32, 0.6),rgba(49, 20, 61, 0.4)), url(https://img.freepik.com/free-vector/pixel-art-vacation-background_52683-86708.jpg);
      background-position: 35%;
    }
    &.show {
      background-image: linear-gradient(rgba(26, 16, 32, 0.6),rgba(49, 20, 61, 0.4)), url(https://img.freepik.com/free-vector/pixel-art-vacation-background_52683-86708.jpg);
      background-position: 45%;
    }
  }
}
