.mood-card-header {
  font-family: 'Press Start 2P';
  font-size: 18px;
  color: white;
  padding: 10px auto 10px;
  text-align: center;
}


.mood-cards-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  margin-bottom: 8px;
}
// amazing left, select middle, icon right side --check
// display the xp bonus --
// make border disappear -- check

.mood-card {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  height: 80px;
  box-sizing: border-box;
  margin-bottom: 6px;
}

.mood-icon {
    padding: 10px;

}

.mood-content {
  padding: 10px;
  font-size: 16px;
}

.mood-button {
  padding: 10px;

}

.mood-card-hidden {
  padding-bottom: 4px;
}
