.friends-h2 {
  font-family: 'Press Start 2P';
  color: #F5E6C8 !important;
  font-size: 12px;
}

.friend-form-control {
  background-color: rgba(120, 90, 150, 0.85);
  border: 2px solid #8B5E3C;
  color: rgba(255, 162, 92, 0.8);
  text-shadow: 0 0 1px #FFDDAA;
  border-radius: 5px;
  font-size: 10px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 6px;
}
